/* Estilos de la parte derecha */

.containerPrincipal{
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #16CADA;
    box-shadow: 5px 5px 9px rgb(135, 134, 134);
    font-family: 'Times New Roman', Times, serif;
}
.containerData{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.containerData h1{
    margin-bottom: 15px;
}
.containerSVG{
    padding: 10px;
    background-color: #373636;
    border-radius: 100%;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerSVG p {
    color: inherit;
    text-decoration: none;
}
.containerItem{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}


/* Estilos de la parte izquierda */
.containerImage{
    width: 50%;
    height: 100%;
    background-color: #373636;
    clip-path: polygon(0 0, 80% 0 , 100% 100%,0 100% );
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.containerImage img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.containerImage p{
    color: white;
    font-size: 20px;
}

@media (max-width: 667px) {
    .containerPrincipal{
        width: 350px;
        height: 270px;
        font-size: 12px;
    }
    .containerPrincipal p{
        font-size: 15px;
    }
    .containerImage img {
        width: 100px;
        height: 100px;
    }
    .containerImage p {
        font-size: 15px;
    }
}