.containerPrincipal{
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: center;
    background-color: #16CADA;
    box-shadow: 5px 5px 9px rgb(135, 134, 134);
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.containerTechnologies{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid;
    width:50%;
}
.containerFrameworks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.containerSVG{
    padding: 10px;
    background-color: #373636;
    border-radius: 100%;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerItem{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}
.containerItem p {
    font-size: 20px;
}